.main {
  margin-top: 12rem;
  gap: 2rem;
  font-family: 'Red Hat Display', sans-serif;

  

  div {
    margin: 2rem 0;
    padding: 2rem;
  }

  img {
    padding: 0%;
    margin: 0;
  }

  p{
    margin: 6px;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
  }


@media (max-width: 740px){
    padding: 0 4rem;
  }

@media(max-width: 360px){
    padding: 0 2rem;
  }
}

.container-img {
    display: flex;
    width: 100%;
    margin: 0, 0 ,2px, 0;
    padding: 0 !important;
  

    img {
      width: 5rem;
      margin-right: 17px;
    }
  }